/* GradingScaleTable.css */
.grading-table {
    margin-top: 60px;
  }
  
  .grading-table th,
  .grading-table td {
    text-align: center;
  }
  
  .grading-table th {
    background-color: rgb(14, 212, 146);
  }
  
  .grading-table tbody tr {
    background-color: #850f0f;
  }
  